<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <h1>📩 Contacto</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="/acerca">Videojuegos</a>
        
    </nav>

    <h2>Información del proyecto</h2>

    <p>
        Esta página fue creada como parte de una actividad escolar
        para poner en práctica el uso del framework Flask.
    </p>

    <p>
        El proyecto fue realizado utilizando Python, Flask, HTML y CSS.
        También se utilizaron plantillas HTML, rutas, variables de
        configuración y archivos estáticos.
    </p>

    <h2>👤 Datos del estudiante</h2>

    <p>
        <strong>Nombre:</strong> Giovanni Leonel Torija Pacheco
    </p>

    <p>
        <strong>Correo:</strong> torijapachecogiovannileonel@gmail.com
    </p>

    <p>
        <strong>Teléfono:</strong> 2831046048
    </p>

    <h2>🎮 Tema de la página</h2>

    <p>
        El tema principal de este proyecto son los videojuegos.
        Se eligió este tema porque es una forma sencilla de mostrar
        información sobre diferentes tipos de juegos y sus características.
    </p>

    <a href="/">Regresar al inicio</a>

</body>
</html>